## Data structure

In [5]:
import pandas as pd

In [6]:
data = [1,2,3,4,5]

In [7]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
index = ['Linha'+str(i) for i in range(5)]

In [9]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [11]:
s = pd.Series(data = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [13]:
data = {'Linha'+str(i) : i+1 for i in range(5)}
#Create dictionary wheree keys are Linha1, Linha2 and the value is the i 
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [15]:
#Turining into series
ss = pd.Series(data)
ss

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

### We can sum, multiply, divide Series

In [17]:
s1 = s+2
s2 = s1+1
s2

Linha0    4
Linha1    5
Linha2    6
Linha3    7
Linha4    8
dtype: int64